{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Hotel Deluxe Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='{% static 'css/fonts.css' %}' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <!--Animation-->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css'/>
    <script>
        new WOW().init();
    </script>
</head>
<body>
{% block body %}
    {% block header %}
        <div class="header">
            <div class="col-sm-8 header-left">
                <!--酒店logo-->
                <div class="logo">
                    <a href="/index/"><img src="{% static 'img/logo.png' %}" alt=""/></a>
                </div>
                <!--酒店菜单栏-->
                <div class="menu">
                    <a class="toggleMenu" href="#"><img src="{% static 'img/nav.png' %}" alt=""/></a>
                    <ul class="nav" id="nav">
                        <li {% if index %}class="active"{% endif %}><a href="/">旅馆首页</a></li>
                        <li {% if wow %}class="active"{% endif %}><a href="/rooms/">房间类型</a></li>
                        <li {% if gallery %}class="active"{% endif %}><a href="/gallery/">酒店环境</a></li>
                        <li {% if news %}class="active"{% endif %}><a href="/news/">酒店简介</a></li>
                        <div class="clearfix"></div>
                    </ul>
                    <script type="text/javascript" src="{% static 'js/responsive-nav.js' %}"></script>
                </div>
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                   name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!----search-scripts---->
                <script src="{% static 'js/classie.js' %}"></script>
                <script src="{% static 'js/uisearch.js' %}"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <div class="clearfix"></div>
            </div>
            <!--登录和注册-->
            <div class="col-sm-4 header_right">
                <div id="loginContainer">
                    {% if user %}
                        <img src="{% static 'img/login.png' %}"><span>歡迎您，{{ user.username }}</span>
                    {% else %}
                        <a href="#" id="loginButton"><img src="{% static 'img/login.png' %}"><span>用户登录</span></a>
                    {% endif %}
                    <div id="loginBox">
                        <form id="loginForm" method="post" action="/user/?do=login">
                            {% csrf_token %}
                            <fieldset id="body">
                                <fieldset>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="email">
                                </fieldset>
                                <fieldset>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password">
                                </fieldset>
                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember
                                    me</i></label><br><br>
                                <input type="submit" id="login" value="登 录">
                                <a id="login" href="/user/?do=register">还没有账号？</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>

        </div>
        <div class="content_top">
            <p style="color: #AD6C09">
                ===================================================================================================================================</p>
        {% if rooms_list %}
        <div class="container">
   		<div class="col-md-4 bottom_nav">
   		   <div class="content_menu">
				<ul>
                    {% for i in rooms_list %}
                        <li {% ifequal category i.category  %}class="active" {% endifequal %}><a href="/rooms/?c={{ i.category }}">{{ i.category }}</a></li>
                    {% endfor %}
				</ul>
			</div>
		</div>
   	</div>
        {% endif %}
        </div>
    {% endblock %}
    <div class="content_middle">
        {% block container %}

        {% endblock %}

        {% block footer %}
            <div class="footer">
                <div class="container">
                    <div class="footer_top">
                        <h3>Subscribe to our newsletter</h3>
                        <form action="/email/?post=email" method="post">
                        <span>
                            {% csrf_token %}
                            <i><img src="{% static 'img/mail.png' %}" alt=""></i>
                            <input name="email" type="text" value="Enter your email" onFocus="this.value = '';"
                                   onBlur="if (this.value == '') {this.value = 'Enter your email';}">
                            <label class="btn1 btn2 btn-2 btn-2g"> <input name="submit" type="submit" id="submit"
                                                                          value="submit"> </label>
                            <div class="clearfix"> </div>
                        </span>
                        </form>
                    </div>
                    <div class="footer_grids">
                        <div class="footer-grid">
                            <h4>Ipsum Quis</h4>
                            <ul class="list1">
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="#">Mirum est</a></li>
                                <li><a href="#">Placerat facer</a></li>
                                <li><a href="#">Claritatem</a></li>
                                <li><a href="#">Sollemnes </a></li>
                            </ul>
                        </div>
                        <div class="footer-grid">
                            <h4>Quis Ipsum</h4>
                            <ul class="list1">
                                <li><a href="#">Placerat facer</a></li>
                                <li><a href="#">Claritatem</a></li>
                                <li><a href="#">Sollemnes </a></li>
                                <li><a href="#">Claritas</a></li>
                                <li><a href="#">Mirum est</a></li>
                            </ul>
                        </div>
                        <div class="footer-grid last_grid">
                            <h4>Follow Us</h4>
                            <ul class="footer_social wow fadeInLeft" data-wow-delay="0.4s">
                                <li><a href=""> <i class="fb"> </i> </a></li>
                                <li><a href=""><i class="tw"> </i> </a></li>
                                <li><a href=""><i class="google"> </i> </a></li>
                                <li><a href=""><i class="u_tube"> </i> </a></li>
                            </ul>
                            <div class="copy wow fadeInRight" data-wow-delay="0.4s">
                                <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank"
                                                                                             href="http://www.mycodes.net/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>
{% endblock %}
</body>
</html>		