{% extends 'base.html' %}
{% load static %}

{% block container %}
    <div class="living_middle">
        <div class="container">
            <div class="entertain_box wow fadeInLeft" data-wow-delay="0.4s">
                {% for i in fadeleft %}
                    <div class="col-md-3 grid_box">
                        <a href="/{{ i.img }}" class="swipebox" title="Image Title"> <img
                                src="/{{ i.img }}"
                                class="img-responsive"
                                alt=""><span
                                class="zoom-icon"></span> </a>
                        <div class="grid_box2">
                            <h4><a href="">{{ i.title }}</a></h4>
                            <p>{{ i.content }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            <div class="entertain_box1 wow fadeInRight" data-wow-delay="0.4s">
                {% for i in faderight %}
                    <div class="col-md-3 grid_box">
                        <a href="/{{ i.img }} class="swipebox" title="Image Title"> <img
                                src="/{{ i.img }}"
                                class="img-responsive"
                                alt=""><span
                                class="zoom-icon"></span> </a>
                        <div class="grid_box2">
                            <h4><a href="#">{{ i.title }}</a></h4>
                            <p>{{ i.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="living_bottom">
        <div class="container">
            <h2 class="title block-title">Latest Posts</h2>
            {% for i in l_post %}
                <div class="col-md-6 post_left wow fadeInLeft" data-wow-delay="0.4s">
                    <div class="mask1"><img src="/{{ i.img }}" alt="image" class="img-responsive zoom-img"/></div>
                    <p>{{ i.content|truncatechars:'50' }}
                        <a href="/article?id={{ i.id }}">More</a></p>
                    <div class="divider"></div>
                    <p class="field-content">{{ i.time }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}