{% extends 'base.html' %}
{% load static %}


{% block container %}
    <div class="container">
        <div class="content_middle_box">
            <div class="top_grid">
                {% for i in list %}
                    <div class="col-md-3 index-grids">
                        <div class="grid1">
                            <div class="view view-first">
                                <div class="index_img"><img src="{{ i.img }}" class="img-responsive"
                                                            alt=""/></div>
                                <div class="mask">
                                    <div class="info"><i class="search"> </i> Show More</div>
                                    <ul class="mask_img">
                                        <li class="star"><img src="{% static 'img/star.png' %}" alt=""/></li>
                                        <li class="set"><img src="{% static 'img/set.png' %}" alt=""/></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                            <div class="inner_wrap">
                                <h3>{{ i.evaluation }}</h3>
                                <ul class="star1">
                                    <h4 class="green">價格: {{ i.price }}</h4>
                                    <h4 class="green">Home type: {{ i.category }}</h4>

                                    <li><a href="#"> <img src="{% static 'img/' %}{{ i.fraction }}" alt="">({{ i.number }})</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            <!--酒店内外环境照片-->
            <div class="middle_grid wow fadeInUp" data-wow-delay="0.4s">
                {% for i in l_post %}
                    <div class="col-md-6 index-grids">
                        <div class="grid1">
                            <div class="index_img1"><img src="{% static 'img/pic5.jpg' %}" class="img-responsive" alt=""/></div>
                            <div class="inner_wrap1">
                                <ul class="item_module">
                                    <li class="module_right">
                                        <h5>内部环境</h5>
                                        <p>"Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                                            suscipit lobortis nisl ut aliquip ex ea commodo consequat."</p>
                                        <a href="signal1.html" class="content_btn">....read more</a>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>


{% endblock %}