{% extends 'base.html' %}
{% load static %}

{% block container %}
    <div class="container">

        {% for i in wow %}
            <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.4s">
                <div class="living_box"><a href="#">
                    <img src="{% static 'img/l1.jpg' %}" class="img-responsive" alt=""/>
                    <span class="sale-box">
				  <span class="sale-label">Rooms</span>
			    </span>
                </a>
                    <div class="living_desc">
                        <h3><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <a href="single.html" class="btn3">Rent</a>
                        <p class="price">$100.00</p>
                    </div>
                    <table border="1" class="propertyDetails">
                        <tbody>
                        <tr>
                            <td><img src="{% static 'img/area.png' %}" alt="" style="margin-right:7px;">2,412m</td>
                            <td><img src="{% static 'img/bed.png' %}" alt="" style="margin-right:7px;">6 Beds</td>
                            <td><img src="{% static 'img/drop.png' %}" alt="" style="margin-right:7px;">3 Baths</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}