{% extends 'base.html' %}
{% load static %}

{% block container %}
    <div class="container">
        {% for i in room %}
            <div class="col-md-8 sing">
                <div class=" single-grid">
                    <img class="img-responsive" src="/{{ i.img }}" alt="" class="img-responsive"
                         style="width: 750px;height: 300px;">
                    <div class="lone-line">
                        <h2>{{ i.category }}: {{ i.room_number }}房間</h2>

                    </div>
                </div>
                <!--提交订单-->
                {% if error %}
                    <button class="btn disabled" type="button" style="margin-bottom: 100px;font-size: 1.3em;">{{ error }}</button>
                {% else %}
                    <form method="post" action="/yuding/?id={{ i.id }}&do=active" style="margin-bottom: 100px;">
                        {% csrf_token %}
                        <input class="hidden" value="{{ i.id }}">
                        <button class="btn1 btn2 btn-2 btn-2g" type="submit" name="submit">確認預定</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}

        <div class="clearfix"></div>

    </div>
{% endblock %}